.tile_button {
	background: #22b9b5;
	height: 100px;
	max-width: 100%;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	border: none;
	box-sizing: border-box;
	padding: 16px;
	&:active {
		opacity: 0.8;
	}
	.texture {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 0px;
		svg {
			width: 100%;
		}
	}
	.content {
		z-index: 2;
		position: relative;
		display: grid;
		grid-gap: 0.4em;

		.icon {
			width: max-content;
			svg {
				width: 40px;
			}
		}
		.label {
			color: var(--white-color);
			font-weight: 700;
			font-size: 1rem;
			line-height: 1;
			margin: 0;
			text-align: left;
		}
	}
}
