.contact_item {
	border-bottom: 1px solid var(--lighter-grey-color);
	.wrap {
		display: grid;
		grid-template-columns: 50px 1fr 5em;
		grid-gap: 0.5em;
		grid-template-columns: 50px 1fr 5em;
		margin: 1em 0;
		.avatar {
			height: 43px;
			width: 43px;
			background-size: cover;
			border-radius: 50%;
			background-position: center;
			border: 1px solid var(--white-color);
			box-shadow: 0px 0px 0 3px var(--main-orange-color);
		}
		.details {
			text-align: left;
			display: grid;
			grid-gap: 0.25em;
			.name {
				font-size: 17px;
				line-height: 1.2;
				font-weight: 700;
				color: var(--dark-color);
				margin: 0;
			}
			.number {
				font-size: 14px;
				line-height: 1.5;
				font-weight: 500;
				margin: 0;
				color: var(--grey-color);
			}
		}
		.call_button {
			border-radius: 10px;
			border: none;
			width: 5em;
			background: var(--main-orange-color);
			fill: var(--white-color);
			color: var(--white-color);
			&:active {
				fill: var(--main-orange-color);
				color: var(--main-orange-color);
				background: var(--lighter-grey-color);
			}
			.flex {
				display: flex;
				grid-gap: 0.3em;
				margin: auto;
				width: max-content;
				svg {
					width: 15px;
					fill: inherit;
				}
				p {
					font-size: 14px;
					line-height: 1.2;
					font-weight: 700;
					text-align: right;
					color: inherit;
					flex: none;
					order: 1;
					flex-grow: 0;
					margin: 0px;
				}
			}
		}
	}
}
