.header {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #e9e9e9;
	.left {
		h1 {
			font-size: 21px;
			margin: 0.3em 0;
		}
		p {
			font-size: 14px;
		}
	}
	.right {
		display: none;
	}
}
