.top_bar {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 10;
	padding: 1em;
	border-bottom: 1px solid var(--lighter-grey-color);
	display: grid;
	grid-template-columns: 2em 1fr;
	grid-gap: 0.5em;
	max-width: 30rem;
	margin: auto;
	box-sizing: border-box;
	.title {
		p {
			font-weight: 700;
			font-size: 20px;
			line-height: 1.5;
			color: var(--dark-color);
			margin: 0;
			text-align: left;
			text-transform: capitalize;
		}
	}
}
