.contact_book_page {
	max-width: 30rem;
	margin: auto;
	.search_input_container {
		padding: 1em;
		height: 2.5em;
		background: var(--white-color);
		box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.06);
		position: relative;
		.icon {
			width: 24px;
			position: absolute;
			z-index: 1;
			top: 1.48em;
			right: 1.5em;
		}
		select {
			position: absolute;
			top: 1em;
			left: 1em;
			border: none;
			border-radius: 3px;
			box-sizing: border-box;
			z-index: 2;
			width: 4.7em;
			height: 2.5em;
			padding: 0 0.5em;
			background: var(--main-orange-color);
			color: var(--white-color);
			font-weight: 600;
		}
		input {
			background: #f9f9f9;
			outline: 1px solid #ececec;
			line-height: 1.5;
			font-size: 1rem;
			padding: 0.4em 0.5em 0.6em 5.5em;
			font-weight: 600;
			position: absolute;
			top: 1em;
			left: 1em;
			width: calc(100% - 2em);
			border: none;
			border-radius: 3px;
			box-sizing: border-box;
			&.input_error {
				outline: 1px solid var(--peach-color) !important;
			}
		}
	}
	.contact_list {
		list-style: none;
		padding: 0px;
		margin: 1em;
	}
}
