.container {
	padding: 1em;
	max-width: 30rem;
	margin: auto;
	.tiles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10.313em, 0.5fr));
		grid-gap: 0.7rem;
		padding: 0px;
		grid-row-gap: 1rem;
	}
}
