.menu_button {
	border-bottom: 1px solid var(--lighter-grey-color);
	padding: 0px;
	margin: 1em;
	.wrap {
		display: grid;
		grid-template-columns: 50px 1fr 5em;
		grid-gap: 0.5em;
		margin-bottom: 1em;
		.icon {
			width: 100%;
			display: grid;
			svg {
				width: 30px;
				margin: auto;
				fill: var(--grey-color);
			}
		}
		.details {
			display: grid;
			grid-gap: 0.1em;
			.label {
				font-weight: 700;
				font-size: 17px;
				line-height: 1;
				color: var(--grey-color);
			}
			.info {
				font-weight: 600;
				font-size: 14px;
				line-height: 1;

				color: #979797;
			}
		}
	}
}
