.login_page {
	padding: 1em;
	max-width: 30rem;
	margin: auto;
	.logo {
		width: 125px;
		margin: 3em auto;
	}
	.form {
		h1 {
			font-size: 21px;
			margin: 0.3em 0;
		}
		p {
			font-size: 1rem;
			margin: 0.3em 0;
		}
		.form_fields {
			padding: 0.5em 0em 2em;
			grid-gap: 1em;
			display: grid;
			.input {
				display: grid;
				grid-gap: 0.5em;
				position: relative;
				label {
					font-size: 12px;
					line-height: 15px;
					font-weight: 800;
					text-transform: uppercase;
					color: var(--light-grey-color);
				}
				input {
					background: #f9f9f9;
					outline: 1px solid #ececec;
					color: var(--dark-color);
					line-height: 1.5;
					font-size: 1rem;
					padding: 0.4em 1em 0.6em;
					font-weight: 600;
					top: 1em;
					left: 1em;
					width: 100%;
					border: none;
					border-radius: 3px;
					box-sizing: border-box;
				}
				.toggle {
					position: absolute;
					bottom: 0.3em;
					right: 1em;
				}
			}
		}
		.controls {
			margin: 1em 0 2em;
		}
	}
}
