.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loader-container {
	display: grid;
}
.loader {
	margin: auto;
	height: 1.88rem;
	width: 1.5rem;
}
.loader rect,
.loader path {
	fill: var(--main-orange-color);
}

.error {
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 0.4rem;
	color: var(--red-color);
}
